:root {
  --color-primary: #5aa1ec;
  --color-secondary: #f0f2f5;
  --color-primary-hover: #4a8dd0;
  --color-black: #000000;
  --color-gray: #dddddd;
  --color-gray-dark: #bebdbd;
  --color-header-background: rgba(240, 242, 245, 0.5);
}

html, body {
  font-family: 'Arial', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}